[submodule "vim/vim/bundle/The-NERD-tree"]
	path = vim/vim/bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/vim/bundle/bufexplorer.zip"]
	path = vim/vim/bundle/bufexplorer.zip
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/vim/bundle/ack.vim"]
	path = vim/vim/bundle/ack.vim
	url = git://github.com/vim-scripts/ack.vim.git
[submodule "vim/vim/bundle/fugitive.vim"]
	path = vim/vim/bundle/fugitive.vim
	url = git://github.com/vim-scripts/fugitive.vim.git
[submodule "vim/vim/bundle/DrawIt.git"]
	path = vim/vim/bundle/DrawIt.git
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "vim/vim/bundle/UltiSnips"]
	path = vim/vim/bundle/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
